<clr-main-container>
  <clr-header class="header-3">
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="title">ngClarity</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="world"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a *ngFor="let lang of translate.getLangs()" (click)="translate.use(lang)" clrDropdownItem>{{lang}}</a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="user"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="#" clrDropdownItem>{{ 'profile' | translate }}</a>
          <a href="#" clrDropdownItem>{{ 'logout' | translate }}</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="alert alert-app-level"></div>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clr-nav-level]="1">
      <a clrVerticalNavLink routerLink="/dashboard" routerLinkActive="active" class="nav-link">
        <clr-icon clrVerticalNavIcon shape="dashboard"></clr-icon>{{ 'dashboard' | translate }}
      </a>
      <a clrVerticalNavLink routerLink="/settings" routerLinkActive="active" class="nav-link">
        <clr-icon clrVerticalNavIcon shape="cog"></clr-icon>{{ 'settings' | translate }}
      </a>
    </clr-vertical-nav>
  </div>
</clr-main-container>
